@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --foreground: #bfbab0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--foreground);
  background: var(--background);
}

p {
  text-wrap: pretty;
}

@keyframes lineWidth {
  0% {
    transform: scaleX(0);
    opacity: 0.3;
  }
  100% {
    transform: scaleX(2);
    opacity: 0.05;
  }
}

@keyframes lineHeight {
  0% {
    transform: scaleY(0);
    opacity: 0.3;
  }
  100% {
    transform: scaleY(1);
    opacity: 0.05;
  }
}

.animate-line-height {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: lineHeight;
  animation-timing-function: ease-in-out;
  animation-delay: 150ms;
}

.animate-line-width {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: lineWidth;
  animation-timing-function: ease-in-out;
  animation-delay: 150ms;
}
